# Ocultar la clave secreta de la API de TMDB
js/config.js

# Ocultar carpetas de configuración del editor (opcional)
.vscode/

# Archivos del sistema operativo que no sirven (opcional)
.DS_Store
Thumbs.db